page-flight {

}

ion-item{
    margin-left: 50px;
}

.save {
    width: 30%;
    border-radius: 100px;
    //color:#e8a406;
   background-color: #e8a406;
  vertical-align: middle;
      }
  


      .button {
        width: 30%;
        border-radius: 100px;
       background-color: #e8a406;
      vertical-align: middle;
          }
          [text-center] {
            text-align: center !important;
            width: 100%;
        }